#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
data/
cfg/

maps/Geminus/backup/*
.vscode/tasks.json
maps/Geminus/backup/geminus-3.dmm
maps/Geminus/backup/geminus-2.dmm
maps/Geminus/backup/geminus-1.dmm                                                                                                                                                                                                              
maps/Geminus/backup/geminus-2.dmm
config/admin_ranks.txt
/config/*	
!/config/*/*
config/config.txt
config/admins.txt
maps/geminus_kiel/backup/geminus_neue-1.dmm
maps/geminus_kiel/backup/geminus_neue-2.dmm
maps/geminus_kiel/backup/geminus_neue-4.dmm
maps/geminus_kiel/backup/geminus_neue-3.dmm
